extends ../layout

block content

  ol
  
  
block append scripts
  script(type="text/javascript").
    $(document).ready(function () {
        var entries = !{JSON.stringify(entries)};  
        var list = $("ol");
        var i = 0;
        for (; i < entries.length; i++) {
            var entry = entries[i];
            var keys = Object.keys(entry);
            var li = $("<li></li>");
            var nest = $("<ul></ul>");
            for(var ip = 0;ip<keys.length;ip++){
              nest.append("<li>" + keys[ip] + ":" + entry[keys[ip]]._ + "</li>");
            }
             //nest.append("<li>email: " + entry.email._ + "</li>");
             //nest.append("<li>name: " + entry.name._ + "</li>");
            li.append(nest);
            list.append(li);   
        }      
        alert(entries.length);  
    });


