extends ../layout

block append stylesheets
  style.
    .buttonHolder {
      margin-top : 50px; 
    }
   
    .dropdown {
      display : none;
      background-color : #F2F2F2;
      padding: 10px 5px 5px 5px;
    }


block content
  div.container
    div.col-xs-offset-3.col-xs-6.buttonHolder
      div.inline-block
        div.col-xs-6
          button.btn.btn-primary.btn-lg.btn-block#add-button
            | Add Table
          div.dropdown
            form(role ="form", method="POST", action="/dev/newtable")
              div.form-group
                label(for="#addTable") Table Name
                input#addTable.form-control(type="text", name="tbName" ,placeholder="Table-Name")  
              div.form-group
                button.btn.btn-default(type="submit") 
                  | Add
        div.col-xs-6
          button.btn.btn-success.btn-lg.btn-block#view-button
            | View Table
          div.dropdown#DeleteDropDown
            form(role="form", method="POST", action="/dev/deletetbl")
              input(type="hidden" name="_method" value="DELETE")  
              div.form-group#tableList
                //inserted jquery rows will go here
              div.form-group
                button.btn.btn-default(type="submit")
                  | Delete
              
 



block append scripts
  script(type="text/javascript").
     $(document).ready(function(){
         $("#add-button,#view-button").click(function(){
            var jumbo = $(this).next();
            jumbo.slideToggle(400);
         });

         //$("#DeleteDropDown").find("button").click(function(){
         
         var count = 0;
         var tables = !{JSON.stringify(tables)};
         var sup = $("div.dropdown#DeleteDropDown").find("div.form-group#tableList");
           
         for(var i = 0;i<tables.length;i++)  {
           var tName = tables[i];
           var a = $("<a></a>").attr({"href":"/dev/"+tName,"target":"_tab"}).html(tName);
      
           var toAdd = '<div class="checkbox"> \
                            <label> \
                              <input type="checkbox" name="'+count+'"value="'+tables[i]+'"> \
                              </input> \
                            </label> \
                          </div>';
           toAdd = $(toAdd);
           toAdd.find("label").append(a);
           sup.append(toAdd);
           count++; // move this into the for-loop header
         }
     });