extends userlayout

block append stylesheets
   style.
    .header-display {
      display : inline-block;
    }
    .head-image {
      width: 120px;
      height: 75px;
    }

    .pushtab{
      margin-left : 4%;
    }
    .my-tabcontent{
      border-style: solid;
      border-color : rgb(23,55,94);
      border-width: 2px;
      background-color : rgb(225,225,225);
      border-radius: 15px;
      height: 100%;
      padding : 10px 10px 0px 10px;
    }
    ul.nav > li > a  {
        background-color: rgb(85,142,213);    /* Dark blue: 23, 55,94   .... Light Blue: 85,142,213 */
        color : white;
      }
    ul.nav > li > a:hover {
      background-color: rgb(23,55,94);    /* Dark blue: 23, 55,94   .... Light Blue: 85,142,213 */
      color : white;
    }
    ul.nav > li.active > a, ul.nav > li.active > a:hover {
      background-color: rgb(23,55,94);    /* Dark blue: 23, 55,94   .... Light Blue: 85,142,213 */
      color : white;
    }
    #selectID {
      float : right;
      margin-bottom : 5px;
    }
    .newres {
      float : right;
    }

    .newCellRes{
      /*background-color : #FFFFCC ; */   
      border-color : red;
      border-width : 1px;
      border-style : solid;
    }
    .control-btn{
      width : 40px;  /*25%*/
      height : 40px; /*50%*/
      margin-right : 5%;
    }
    .control-btn:hover {
       -webkit-filter: hue-rotate(50deg);
    }

    table.dataTable tbody tr.even {
       background-color : #E3EEEC;
    }
    table.dataTable tbody tr.odd {
       background-color : #EBFAF7;
    }
    table.dataTable tbody tr:hover{
       -webkit-filter: brightness(90%);
    }
    .my-outer{
       border : 1px solid black;
       border-radius : 25px;
       padding : 3% 0% 3% 0%; 
       margin : 5% 0 7% 0;
       background-color : #F0F0F0 ;
       width : 50%;
    }
    .my-inner{
       display : inline-block;
       text-align : center;
    }
    .mybtn{
       width : 25% ;
    }

    .my-inner h4, .my-inner h3{
       margin : 5px 0px 5px 0px;
    }

    #new-date, #new-time {
       width : 40%;
    }
  

block append content
   div.container-fluid
      div.col-sm-2      
         a(href = "/")
            img(src = "/images/swaplogo.png", alt = "unloaded image").img-rounded.head-image
      div.col-sm-offset-1.col-sm-3
         h2 Welcome #{name}! 
      div.col-sm-offset-1.col-sm-5         
         div.navbar.navbar-default(role="navigation")
            div.container-fluid
               div.collapse.navbar-collapse
                  u1.nav.navbar-nav.navbar-right
                     li.active
                        a(href="/logout") Logout
                     
      div.newres
         a(href="#newResDiv",onclick="newResLinkClicked()") 
            h2 New Reservation 

   div.container-fluid
      div.tabpanel.pushtab
         ul.nav.nav-tabs(role="tablist")
            li.active
               a(data-target="#myreservations" ,data-toggle="tab")
                  |My Reservations
            li
               a(data-target="#market" ,data-toggle="tab")
                  |Swap Market
      div.my-tabcontent
         div.tabcontent
            div.tab-pane.active.in.active.fade#myreservations
               select#selectID(onchange="change()")
                  option(value="active") Active reservation
                  option(value="taken") Taken reservation
                  option(value="past") Past reservation
               div#tableDiv     
                  table#marketTable
                     thead
                        tr 
                           th.dt-added-col Date Added
                           th.res-col Restaurant
                           th.date-col Date
                           th.time-col Time
                           th.guests-col Guests
                           th.name-col Name
                           th.controls-col Controls
                          
            div.tab-pane.active.fade#market
               div#tableDiv 

   input.control-btn#save-btn(type="image",src="/images/save.png",alt="Submit",hidden)
   input.control-btn#delete-btn(type="image",src="/images/delete.png",alt="Submit",hidden)    

   div.container
   center 
      div.my-outer#newResDiv()         
         form(method="POST" )
            div.my-inner(style="text-align:left")
               div.form-group
                  label(for="new-now-date") 
                     h4 Today's Date : &nbsp 
                  input#new-now-date(type="text",style="width:40%",readonly)
               div.form-group
                  h3 Restaurant Info
                  label(for="new-res-name")
                     h4 Name : &nbsp 
                  input#new-res-name(type="text",name="resName")
                  br
                  label(for="new-res-pcode")
                     h4 PostalCode : &nbsp
                  input#new-res-pcode(type="text",name="postalcode",style="width:44%")
                   
               div.form-group(style="margin:0px")
                  label(for="new-date")
                     h4 Date : &nbsp 
                  input#new-date(type="text",name="date") 
               div.form-group
                  label(for="new-time")
                     h4 Time : &nbsp 
                  input#new-time(type="text",name="time") 
               div.form-group
                  label(for="new-guests")
                     h4 Number of Guests : &nbsp 
                  select#new-guests(name="guestNum")
                     option(value = "1") 1
               //here we were going to add "name", but that part can be gotten from the user's profile
                  div
                     label(for="new-name")
                        h4 Your Name : &nbsp
            br 
            br
            button.btn.btn-primary.btn-lg.mybtn(type="submit", onclick="resSubmited()") Submit
         

      
  


block append scripts
  //script(src="/javascripts/temp.js")
  script(src="/javascripts/user.js")
      //USE ON CLICK FOR THE CONTROL BUTTONS




    
      
       




  
    
    

            

