extends layout

block content

  ol
  
  
block append scripts
  script(type="text/javascript").
    $(document).ready(function () {
        var entries = !{JSON.stringify(entries)};  
        var list = $("ol");
        var i = 0;
        for (; i < entries.length; i++) {
            var entry = entries[i];
            var li = $("<li></li>");
            var nest = $("<ul></ul>");
            nest.append("<li>email: " + entry.email._ + "</li>");
            nest.append("<li>name: " + entry.name._ + "</li>");
            li.append(nest);
            list.append(li);   
        }      
        alert(entries.length);  
    });
