extends layout

block content

  ol

  script(type="text/javascript").
    var eTemp = !{JSON.stringify(entries)};  
    alert(eTemp.length);  


block append scripts
  script(src='/javascripts/testJSFile2.js')

   
   // - var ip = "sdfsd";
       if (entries[0].email._ == "daBeast@yahoo.com")
          p=ip
       else
          p inside else