extends layout

block append stylesheets
  style.
    .buttonHolder {
      margin-top : 50px; 
    }
    .dropdown {
      width : 100px;
      height : 100px;
      background-color : grey;
    }
    #dropdownID {
      display : none;
    }

block content
  div.container
    div.col-xs-offset-3.col-xs-6.buttonHolder
      div.inline-block
        div.col-xs-6
          button.btn.btn-primary.btn-lg.btn-block#AddButton
            | Add Table
          div.jumbotron#dropdownID
        div.col-xs-6
          button.btn.btn-success.btn-lg.btn-block#DeleteButton
            | Delete Table
          div.jumbotron#dropdownID
        
         



block append scripts
  script(type="text/javascript").
     $(document).ready(function(){
       $("#AddButton,#DeleteButton").click(function(){
          var jumbo = $(this).next();
          jumbo.slideToggle(400);
       });
     });