extends layout

block append content
    div.container
     div.header
       div.nav.nav-pills.pull-left
         a(href = "/")
            img(src = "images/swaplogo.png", alt = "unloaded image").img-rounded
          
         


    div.container
      div.col-md-offset-4.col-md-4
         ul.nav(role = "tablist")
            li.active
                a(href = "#login") Login
            li
                a(href = "#signup") Sign Up
         div.tab-content
           div.tab-pane.in.active#login
               p Login
           div.tab-pane.in#signup
               p Sign Up
            
      
       
block append jsFiles
   script(src = "/javascripts/testJSFile.js")
     
     
       




  
    
    

            

