extends layout

block append stylesheets

block append content
    div.container
     div.header
       div.nav.nav-pills.pull-left
         a(href = "/")
            img(src = "images/swaplogo.png", alt = "unloaded image").img-rounded
          
    div.container
      div.col-md-offset-4.col-md-4
        div.tabbable
          ul.nav.nav-tabs(role = "tablist")
             li.active
                 a(data-target = "#login", data-toggle="tab") Login
             li
                 a(data-target = "#signup", data-toggle="tab") Sign Up
          br
          div.tab-content
             div.tab-pane.in.active.fade#login
                form(role="form")
                  div.form-group
                    label(for="login-email") Email
                    input#login-email.form-control(type="email", placeholder="Your email")
                    br
                    button.btn.btn-primary.btn-sm(type="submit")
                      span.glyphicon.glyphicon-chevron-right 
                      | Login   
             div.tab-pane.in.fade#signup
                form(role="form", method="POST", action="/new/user")
                  div.form-group
                    label(for="signup-name") Name
                    input#signup-name.form-control(type="text", placeholder="Your public name")
                    br
                    label(for="signup-email") Email
                    input#signup-email.form-control(type="email", placeholder="Your email")
                    br
                    button.btn.btn-primary.btn-sm(type="submit")
                      span.glyphicon.glyphicon-chevron-right 
                      | Sign In
            
block append scripts
   //script(src = "/javascripts/testJSFile.js")
  
     
     
       




  
    
    

            

