extends layout

block content
    div.container
     div.header
       div.nav.nav-pills.pull-left
         img(src = "images/swaplogo.png", alt = "unloaded image").img-rounded
         


    div.container
      div.col-md-offset-4.col-md-4
         ul.nav.nav-tabs(role = "tablist")
           li.active
             a(href = "/") Login
           li
             a(href = "/") Sign Up



    //  <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
        </ul>
  
    
    

            

