doctype html
html
  head
    meta(charset='UTF-8')
    title Swap
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/public/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/public/stylesheets/main.css')
    link(rel='stylesheet', href='/public/stylesheets/index.css')
  body
    block content
