doctype html
html
  head
    meta(charset='UTF-8')
    title Swap
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no')


    block stylesheets
       link(rel='stylesheet', href='/stylesheets/bootstrap.css')
       link(rel="stylesheet", type="text/css", href="/stylesheets/jquery.dataTables.css")

  body
    block content

    block scripts
        script(src='/javascripts/jquery-1.11.1.js')
        script(src='/javascripts/bootstrap.min.js')
        script(type="text/javascript", charset="utf8", src="/javascripts/jquery.dataTables.js")       

 