extends ../layout

block append stylesheets


block append content
  p logged in as #{username}  
                

            
block append scripts
   
  
     
     
       




  
    
    

            

