extends ../layout

block append stylesheets
   style.
    .header-display {
      display : inline-block;
    }
    /* {
      border-style: solid;
      Sborder-width: 5px;
    }*/


block append content
 div.container-fluid
   div.col-sm-2      
     a(href = "/")
       img(src = "images/swaplogo.png", alt = "unloaded image").img-rounded
   div.col-sm-offset-1.col-sm-3
     h2 Logged in as #{name} 
   div.col-sm-offset-1.col-sm-5         
     div.navbar.navbar-default(role="navigation")
     


block append scripts